$accent:#2E2761CC;
$default:#FFFFFF;
$title:#000;
$bg:#FFFFFF;

%outfit-400{
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
}

%outfit-600{
    font-family: Outfit;
    font-style: normal;
    font-weight: 600;
}

%outfit-700{
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
}

%roboto-400{
    font-family: Roboto;   
    font-style: normal;
    font-weight: 400;
}